---
layout: layouts/base.njk
title: "Blog"
metaTitle: "Blog"
metaDescription: "List of all blog posts."
permalink: "/blog/index.html"
---

<h1 class="display-3">Blog</h1>
{% set posts = collections.blog | reverse %}
{% include "partials/postsList.njk" %}