---
layout: layouts/base.njk
title: "Blog"
metaTitle: "Blog"
metaDescription: "List of all blog posts."
permalink: "/blog/index.html"
---

{% set limitedPosts = collections.blog | reverse | slice(0, 12) %}
{% include "partials/postsList.njk" with { posts: limitedPosts } %}
