---
layout: layouts/base.njk
title: Blog
metaTitle: Blog
metaDescription: "Our latest blog posts."
ogImage: "/assets/images/og-blog.jpg"
pagination:
  data: collections.blog
  size: 8
  alias: posts
permalink: >
  {% if pagination.pageNumber == 0 %}
    /blog/index.html
  {% else %}
    /blog/{{ pagination.pageNumber }}/index.html
  {% endif %}
---

{% include "partials/postsList.njk" %}
