---
layout: layouts/base.njk
title: "Sample Blog Post"
metaTitle: "Sample Blog Post"
metaDescription: "This is a sample blog post to demonstrate the Eleventy blog collection."
ogImage: "/assets/images/sample-blog-og.jpg"
date: 2025-03-16
tags:
  - blog
---

<h1>Sample Blog Post</h1>
<p>This is the content of the sample blog post. It serves as an example of how individual blog posts are structured.</p>
