---
layout: layouts/base.njk
title: "Sample Blog Post"
metaTitle: "Sample Blog Post"
metaDescription: "This is a sample blog post to demonstrate the Eleventy blog collection."
featuredImage: "/assets/images/placeholder.jpeg"
date: 2023-01-01
tags:
  - blog
---

<h1>Sample Blog Post</h1>
<p>This is the content of the sample blog post. It serves as an example for the Eleventy blog collection.</p>
