---
layout: layouts/base.njk
title: About
metaTitle: "About"
metaDescription: "A sample project description for demonstration purposes."
ogImage: "/assets/images/sample-project-og.jpg"
---

<div class="row">
    <div class="col-lg-6 col-md-8">
        <h1 class="display-3">About me</h1>
        <p class="lead">We’re not just a creative agency—we’re the spark behind the stories, the rhythm in the scroll, the pixel in every powerful idea. Born from the belief that creativity should break rules, not follow trends, we’ve carved out a space where imagination leads and boundaries dissolve.</p>
    </div>
</div>

