---
layout: layouts/base.njk
title: Contact
metaTitle: "Contact"
metaDescription: "A sample project description for demonstration purposes."
ogImage: "/assets/images/sample-project-og.jpg"
---

<div class="row">
    <div class="col-lg-6 col-md-8">
        <h1 class="display-3">Say hello.</h1>
        <p class="lead">Say hello—don’t be shy. We love great ideas, bold visions, and curious minds. Drop us a line and let’s make something beautiful together.</p>
    </div>
</div>
