---
layout: layouts/base.njk
title: Home
description: Welcome to my minimal Eleventy site!
---
<p>Welcome to the minimal Eleventy site!</p>
<img src="/images/600.jpg" alt="Example Image" loading="lazy" decoding="async">
