---
layout: layouts/base.njk
title: Home
eleventyNavigation:
  key: home
  order: 1
  title: Home
---

<h1>Welcome to Eleventy with Bootstrap Navigation!</h1>
<p>This is the home page.</p>
