---
layout: layouts/base.njk
title: Home
metaTitle: Home
metaDescription: "Welcome to my awesome site where you find great content."
ogImage: "/assets/images/placeholder.jpeg"
eleventyNavigation:
  key: home
  order: 1
  title: Home
---

<h1>Welcome!</h1>
<p>This is the home page content.</p>
