// src/scss/main.scss

// Override Bootstrap variables BEFORE importing Bootstrap
$primary: #ff5733;
$body-bg: #f0f0f0;

// Import Bootstrap SCSS from node_modules
@import "bootstrap/scss/bootstrap";

// Add your custom styles below
.custom-btn {
  background-color: $primary;
  border: none;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-toggler {
    border: 0;
}