<!-- Footer -->
  <footer class="text-center text-lg-start mt-5 border-top border-1">
    <div class="container-fluid p-4">
      <p class="mb-0">© 2023 Your Company Name</p>
    </div>
  </footer>