<header>
    <nav>
      <r-grid columns="3">
        <r-cell>
          <a href="/" class="bold">Brand</a>
        </r-cell>
        <r-cell class="right">
          <a href="#" class="bold">menu+</a>
        </r-cell>
      </r-grid>
    </nav>
</header>
