{% set posts = collections.blog | reverse | slice(0, 12) %}
<p>Blog collection count: {{ posts | length }}</p>
<div class="posts-list">
  {% if posts.length == 0 %}
    <p>No blog posts found.</p>
  {% else %}
    {% for post in posts %}
      <article class="post mb-4">
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p>{{ post.data.metaDescription }}</p>
      </article>
    {% endfor %}
  {% endif %}
</div>
