{% set projects = collections.projects | reverse | slice(0, 12) %}
<div class="projects-list row">
  {% for project in projects %}
    <div class="col-md-3 mb-4">
      <div class="card">
        {% if project.data.image %}
          <img src="{{ project.data.image }}" class="card-img-top" alt="{{ project.data.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ project.url }}">{{ project.data.title }}</a>
          </h5>
          <p class="card-text">{{ project.data.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
