---
layout: layouts/base.njk
title: Projects
metaTitle: Projects
metaDescription: "Our recent projects and case studies."
ogImage: "/assets/images/og-projects.jpg"
eleventyNavigation:
  key: projects
  order: 3
  title: Projects
pagination:
  data: collections.projects
  size: 8
  alias: projects
permalink: "/projects/{{ pagination.pageNumber }}/index.html"
---

{% include "partials/projectsList.njk" %}
