---
layout: layouts/base.njk
title: "Projects"
metaTitle: "Projects"
metaDescription: "List of all projects."
permalink: "/projects/index.html"
---

{% set limitedProjects = collections.projects | reverse | slice(0, 12) %}
{% include "partials/projectsList.njk" with { projects: limitedProjects } %}
